extends layout

block content
  h1= title
  p #{v} &middot; 
    a(href="/CHANGELOG.txt") changelog
  a(href="/?workspace=428229307755") Shoreditch Works
  br
  a(href="/?workspace=1532817045175") Penrose
  div#projects Loading... this DOES take a LONG time